[Desktop Entry]
Type=Application
Name=Mercury SkyPulse
Comment=Amateur-radio digital communications through Mercury
Exec=/opt/mercuryskypulse/MercurySkyPulse
Icon=mercuryskypulse
Terminal=false
Categories=Network;HamRadio;
StartupNotify=true
StartupWMClass=MercurySkyPulse
